global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    daemon
    stats socket /var/lib/haproxy/stats

defaults
    mode                    tcp
    log                     global
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s
    maxconn                 3000

listen stats
    bind :9000
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s

listen api-server-6443
    bind :6443
    mode tcp
    balance source
@@API_BACKENDS@@

listen machine-config-server-22623
    bind :22623
    mode tcp
    balance source
@@MCS_BACKENDS@@

listen ingress-router-http-80
    bind :80
    mode tcp
    balance source
@@INGRESS_HTTP_BACKENDS@@

listen ingress-router-https-443
    bind :443
    mode tcp
    balance source
@@INGRESS_HTTPS_BACKENDS@@
