global_defs {
    router_id LVS_DEVEL
}

vrrp_instance VI_1 {
    state @@VRRP_STATE@@
    interface @@VRRP_INTERFACE@@
    virtual_router_id @@VRRP_VIRTUAL_ROUTER_ID@@
    priority @@VRRP_PRIORITY@@
    advert_int @@VRRP_ADVERT_INT@@

    authentication {
        auth_type @@VRRP_AUTH_TYPE@@
        auth_pass @@VRRP_AUTH_PASS@@
    }

    unicast_src_ip @@UNICAST_SRC_IP@@
    unicast_peer {
@@UNICAST_PEERS@@
    }

    virtual_ipaddress {
        @@VRRP_VIP@@
    }
}
