$TTL 1D
@   IN SOA  ns1.@@ZONE_NAME@@. root.@@ZONE_NAME@@. (
        @@SERIAL@@ ; serial
        1H         ; refresh
        10M        ; retry
        1W         ; expire
        1D )       ; minimum

    IN NS ns1.@@ZONE_NAME@@.
